/* ===== object / component / _heading.scss ===== */
@use "../../foundation/function" as f;
@use "../../foundation/vars" as v;
@use "../../foundation/mixin" as m;

// ==============================
// Local variables
// ==============================

$section-heading-gap-pc: 18px;
$section-heading-gap-sp: 0;
$section-heading-ja-line-height-pc: 1.09375;
$section-heading-ja-line-height-sp: 1.10417;

.c-section-heading {
    display: flex;
    align-items: center;
    gap: $section-heading-gap-pc;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: v.$color-text-main;

    @include m.mq-sp {
        gap: $section-heading-gap-sp;
    }

    &__ja {
        font-size: f.rem(v.$font-size-32);
        font-weight: v.$font-weight-medium;
        line-height: $section-heading-ja-line-height-pc;

        @include m.mq-sp {
            font-size: f.rem(v.$font-size-24);
            line-height: $section-heading-ja-line-height-sp;
        }
    }

    &__en {
        font-size: f.rem(v.$font-size-14);
        font-weight: v.$font-weight-regular;
        line-height: v.$line-height-none;

        @include m.mq-sp {
            display: none;
        }
    }
}